<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../config.html">

<dom-module id="summary-motnhly-tx-component">
  <template>
    <link rel="stylesheet" type="text/css"
          href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <style include="shared-styles">

    </style>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Resumen Mensual</h5>
            <form class="form-inline">

                <label class="my-1 mr-2">Usuario</label>
                <select class="form-control-sm mr-2" value="{{userID::change}}">
                    <option value="">-- Todos --</option>
                    <template is="dom-repeat" items="{{users}}" as="item" >
                        <option value="{{item.idUsuario}}">{{item.first_name}} {{item.last_name}} / {{item.email}}</option>
                    </template>
                </select>

                <label class="my-1 mr-2">Cuenta</label>
                <select class="form-control-sm mr-2" value="{{accountID::change}}">
                    <option value="">-- Todos --</option>
                    <template is="dom-repeat" items="{{accounts}}" as="item" >
                        <option value="{{item.accountID}}">{{item.IBAM}}</option>
                    </template>
                </select>

                <label class="my-1 mr-2">F. Movimiento desde</label>
                <input class="form-control-sm" type="date" name="input" placeholder="dd/mm/yyyy" value="{{create_at_init::input}}" />

                <label class="my-1 mr-2">F. Movimiento Hasta</label>
                <input class="form-control-sm" type="date" name="input" placeholder="dd/mm/yyyy" value="{{create_at_end::input}}" />

            </form>

            <div class="row ml-2 mt-2 mb-2">
                <button type="button" class="btn-sm btn-warning mr-2" on-click="_reloadData">Filtrar</button>
                <button type="button" class="btn-sm btn-secondary" on-click="_clearFilters">Limpiar</button>
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap table-hover table-sm table-striped">
                    <thead>
                    <th>Año/Mes</th>
                    <th>Persona</th>
                    <th>Cuenta</th>
                    <th>Moneda</th>
                    <th>Total Depositos</th>
                    <th>Total Retiros</th>
                    <th>Cantidad Depositos</th>
                    <th>Cantidad Retiros</th>
                    <th>Cantidad Movimientos</th>
                    <th>Balance</th>
                    </thead>
                    <tbody>
                    <template is="dom-repeat" items="{{models}}">
                        <tr>
                            <td><div class="body-copy">{{item._id.year}}/{{item._id.month}}</div></td>
                            <td><div class="body-copy">{{item._id.user.first_name}} {{item._id.user.last_name}}</div></td>
                            <td><div class="body-copy">{{item._id.account.IBAM}}</div></td>
                            <td><div class="body-copy">{{item._id.account.currency}}</div></td>
                            <td><div class="body-copy">{{item.totalDeposito}}</div></td>
                            <td><div class="body-copy">{{item.totalRetiro}}</div></td>
                            <td><div class="body-copy">{{item.countDeposito}}</div></td>
                            <td><div class="body-copy">{{item.countRetiro}}</div></td>
                            <td><div class="body-copy">{{item.count}}</div></td>
                            <td><div class="body-copy">{{_getBalance(item.totalDeposito,item.totalRetiro) }} </div></td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>

        </div>

    </div>


    <iron-ajax
      id="queryTx"
      handle-as="json"
      on-response="showData"
    >

      <iron-ajax
              id="getAccounts"
              handle-as="json"
              on-response="_getAccountResponse">

        <iron-ajax
                id="getPersons"
                handle-as="json"
                on-response="_getPersonsResponse"
        >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SummaryMotnhlyTxComponent extends Polymer.Element {
      static get is() { return 'summary-motnhly-tx-component'; }
      static get properties() {
        return {
          models: {
            type: Array,
            value: [],
          },
          userID:{
            type: Number,
            observer: "_getAccountRequest"
          },
          accountID:{
            type: String,
            observer: "_reloadData"
          },
            create_at_init:{
                type: String,
                observer: "_reloadData"
            },
            create_at_end:{
                type: String,
                observer: "_reloadData"
            },
          users: {
            type: Array,
            value: [],
          },
          accounts: {
            type: Array,
            value: [],
          },
          autoLoad:{
            type: Boolean,
            value:true,
            observer: "_reloadData"
          },
        };
      }
      showData(data) {
        this.models = data.detail.response;
      }
      _reloadData() {
          var url=Config.BASE_URL + "transaction/query-monthly-tx?foo=1";

          if(this.userID){
            url=url+"&userID="+this.userID;
          }

          if(this.accountID){
            url=url+"&accountID="+this.accountID;
          }

          if(this.create_at_init){
              url=url+"&create_at_init="+this.create_at_init;
          }

          if(this.create_at_end){
              url=url+"&create_at_end="+this.create_at_end;
          }

          this.$.queryTx.url = url;
          this.$.queryTx.method = 'get';
          this.$.queryTx.generateRequest();

          var url=Config.BASE_URL + "user?limit=9999&page=1&logged=true";
          this.$.getPersons.url = url;
          this.$.getPersons.method = 'get';
          this.$.getPersons.generateRequest();

      }

      _getPersonsResponse(data) {
        this.users = data.detail.response.docs;
      }

      _getAccountRequest() {
        if(this.userID){
          this.accounts = [];
          if(!this.isEditing){
            this.accountID = null;
          }
          this.$.getAccounts.method = 'get';
          this.$.getAccounts.url = Config.BASE_URL + "account?userID="+this.userID;
          this.$.getAccounts.generateRequest();
        }
      }

      _getAccountResponse(data) {
        this.accounts = data.detail.response;
        this._reloadData();
      }

      _clearFilters() {

        this.userID = "";
        this.accountID = "";
        this.accounts = [];
        this.tipo = "";
        this.models = [];
        this.model=null;
        this.create_at_init=null;
        this.create_at_end=null;

        this._reloadData();

      }

      _getDate(val){
        return moment(val).format('DD/MM/YYYY');
      }

      _getBalance(val1,val2){
        return val1-val2;
      }

    }

    window.customElements.define(SummaryMotnhlyTxComponent.is, SummaryMotnhlyTxComponent);
  </script>
</dom-module>
