<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../shared-styles.html">

<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../config.html">

<dom-module id="user-account-component">
  <template>
    <link rel="stylesheet" type="text/css"
          href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <style include="shared-styles">
    </style>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cuentas</h5>
        <div hidden="{{!isEditing}}">
          <iron-form id="accountForm">
            <form>
              <div class="form-group">
                <label>Moneda</label>
                <select class="form-control" value="{{currency::change}}" required>
                  <option value="">-- Seleccione Moneda --</option>
                  <template is="dom-repeat" items="{{currencyList}}" as="item" >
                    <option value="{{item.val}}">{{item.descrip}}</option>
                  </template>
                </select>
              </div>
              <div style="margin-bottom: 20px">
                <button type="button" class="btn-sm btn-secondary" on-click="_save">Guardar</button>
                <button type="button" class="btn-sm btn-warning" on-click="_cancelEdit">Cancelar</button>
              </div>
            </form>
          </iron-form>


        </div>
        <div hidden="{{isEditing}}">
          <button hidden="[[!btnAddGranted]]" style="margin-bottom: 5px;" type="button" class="btn-sm btn-warning" on-click="_newModel">Nuevo</button>
          <button style="margin-bottom: 5px;" type="button" class="btn-sm btn-secondary" on-click="_getAccountRequest">Actualizar</button>
          <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap table-hover table-striped">
              <thead>
              <th></th>
              <th>Cuenta</th>
              <th>Saldo actual</th>
              <th>Moneda</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              </thead>
              <tbody>
              <template is="dom-repeat" items="{{models}}">
                <tr>
                  <td>
                    <button type="button" class="btn-sm btn-warning mb-1" on-click="_getTrassanctionByUser">Movimientos</button>
                  </td>
                  <td><div class="body-copy">{{item.IBAM}}</div></td>
                  <td><div class="body-copy">{{item.balance}} </div></td>
                  <td><div class="body-copy">{{item.currency}}</div></td>
                  <td><div class="body-copy">{{_getDate(item.date_init)}}</div></td>
                  <td><div class="body-copy">{{_getDate(item.date_end)}}</div></td>
                </tr>
              </template>
              </tbody>
            </table>
          </div>

        </div>
      </div>


    </div>

    <iron-ajax
               id="getAccounts"
               handle-as="json"
               on-response="_getAccountResponse">

      <iron-ajax id="saveModelRequest" content-type="application/json" handle-as="json"
                 on-response="_responseSave" loading="true">
      </iron-ajax>

      <iron-ajax id="deleteModelRequest" method="delete" content-type="application/json" handle-as="json" on-response="_getAccountRequest">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserAccountComponent extends Polymer.Element {
      static get is() { return 'user-account-component'; }
      static get properties() {
        return {
          _id:{
            type: String
          },
          accountID:{
            type: Number
          },
          ibam:{
            type: String
          },
          balance:{
            type: Number
          },
          userID:{
            type: Number
          },
          date_init:{
            type: Date
          },
          date_end:{
            type: Date
          },
          currency:{
            type: String
          },
          active:{
            type: Boolean
          },
          //
          currencyList:{
            type: Array,
            value: [{descrip:"Soles", val: "Soles"},{descrip:"Dolares", val: "Dolares"}]
          },
          model:{
            type: Object
          },
          isNew:{
            type: Boolean,
            value: true
          },
          isEditing:{
            type: Boolean,
            value: false
          },
          models:{
            type: Array,
            value: [],
          },
          useridentifier:{
            type: Number,
            observer: '_checkUserID'
          },
          btnAddGranted:{
            type: Boolean,
            value: true
          }
        }
      };

      ready(){
        super.ready(); //add a transparent black so the white text is visiable;
        var role = localStorage.getItem("role");
        this.btnAddGranted = (role==='user' ? false : true);
      }

      _checkUserID(){
        this._getAccountRequest();
      }

      _getAccountRequest() {
        this.models = [];
          this.$.getAccounts.method = 'get';
          this.$.getAccounts.url = Config.BASE_URL + "account?userID="+this.useridentifier;
          this.$.getAccounts.generateRequest();
      }

      _getAccountResponse(data) {
        this.models = data.detail.response;
      }

      _editModel(e) {
        this.model = e.model.item;

        this._id = this.model._id;
        this.ibam = this.model.IBAM;
        this.balance = this.model.balance;
        this.userID = this.model.userID;
        this.accountID = this.model.accountID;

        this.date_init = this.model.date_init;
        this.date_end = this.model.date_end;
        this.currency = this.model.currency;

        this.isEditing = true;
        this.isNew = false;

      }

      _newModel(e) {
        this._blankModel();
        this.isEditing = true;
        this.isNew = true;
      }

      _cancelEdit() {
        this._blankModel();
        this.isEditing = false;
        this.isNew = false;
      }

      _blankModel(){
        this.model = null;

        this._id = null;
        this.ibam = null;
        this.balance = null;
        this.userID = null;
        this.accountID = null;

        this.date_init = null;
        this.date_end = null;
        this.currency = null;
      }

      _save() {

        var isValid = this.$.accountForm.validate();
        if(isValid){
          var uri;
          var bodyModel;

          bodyModel = {
            IBAM : this.ibam,
            balance : this.balance,
            userID : this.useridentifier,

            date_init : this.date_init,
            date_end : this.date_end,
            currency : this.currency

          };

          if(this.isNew){
            uri = Config.BASE_URL + "account/"
            this.$.saveModelRequest.method = 'post';
          }else{
            uri = Config.BASE_URL + "account/"+this.userID;
            this.$.saveModelRequest.method = 'put';
            bodyModel._id = this._id;
            bodyModel.accountID = this.accountID;
          }

          this.$.saveModelRequest.body = bodyModel;
          this.$.saveModelRequest.url = uri;

          this.$.saveModelRequest.generateRequest();
        }else {
          // alert(false);
          // this.$.accountFormInvalidDialog.open();
        }

      }

      _responseSave(data) {
        this.isEditing = false;
        this.isNew = false;
        this._getAccountRequest();
      }

      _wrapperRemove(e){
        var r = confirm("¿Está seguro de eliminar?");
        if (r == true) {
          this._removeModel(e)
        }
      }
      _removeModel(e) {

        var uri=Config.BASE_URL + "account/"+e.model.item.accountID;
        this.$.deleteModelRequest.body={_id:e.model.item._id};
        this.$.deleteModelRequest.method = 'delete';
        this.$.deleteModelRequest.url = uri;
        this.$.deleteModelRequest.generateRequest();

      }
      _getDate(val){
        return moment(val).utc().format('DD/MM/YYYY');
      }
      _getTrassanctionByUser(e) {
        this.dispatchEvent(
                new CustomEvent(
                        "gettransactionbyuserevent",
                        {
                          "detail" : {
                            "account": e.model.item
                          }
                        }
                )
        );
      }
    }

    window.customElements.define(UserAccountComponent.is, UserAccountComponent);
  </script>
</dom-module>
