<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="/src/users/user-profile-component.html">

<dom-module id="user-profile-view">
  <template>
    <link rel="stylesheet" type="text/css"
          href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

      <user-profile-component
              useridentifier="[[userIDSession]]"
              id="userProfile">
      </user-profile-component>


  </template>

  <script>
    class UserProfileView extends Polymer.Element {
      static get is() { return 'user-profile-view'; }
      static get properties() {
        return {
          userIDSession: {
            type: Number,
            observer:"_checkUserID"
          },
        }
      }

      ready(){
        super.ready(); //add a transparent black so the white text is visiable;
        this.userIDSession = localStorage.getItem("userID");
      }

      _checkUserID(e) {
        console.log("this.userIDSession",this.userIDSession);
      }

    }

    window.customElements.define(UserProfileView.is, UserProfileView);
  </script>
</dom-module>
