<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="/src/users/user-account-component.html">
<link rel="import" href="/src/users/user-transaction-component.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../config.html">

<dom-module id="user-crud-component">
  <template>
    <link rel="stylesheet" type="text/css"
          href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <app-route
            route="{{route}}"
            pattern="/:id"
            data="{{routeData}}"></app-route>

    <iron-ajax id="getModelRequest" content-type="application/json" handle-as="json"
               url="{{_getUrlModel(routeData.id)}}"
               on-response="_responseGetModel">
    </iron-ajax>

    <iron-ajax id="saveModelRequest" content-type="application/json" handle-as="json"
               on-response="_responseSaveRequest" on-error="_handleSaveError" loading="true">
    </iron-ajax>
    <iron-ajax id="deleteModelRequest" content-type="application/json" handle-as="json" loading="true">
    </iron-ajax>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Creación / Edición de Usuario</h5>
        <div class="row">
          <div class="col-md-4 col-lg-4">

            <iron-form id="ironform">
              <form>
                <div class="form-group">
                  <label>Nombres *</label>
                  <input autocomplete="off" class="form-control" id="first_name" value="{{first_name::input}}" required maxlength="15" placeholder="">
                </div>
                <div class="form-group">
                  <label>Apellidos *</label>
                  <input autocomplete="off" class="form-control" id="last_name" value="{{last_name::input}}" required maxlength="15" placeholder="">
                </div>
                <div class="form-group">
                  <label>DNI *</label>
                  <input autocomplete="off" class="form-control" id="dni" type="text" value="{{dni::input}}" required placeholder="">
                </div>
                <div class="form-group">
                  <label>Email *</label>
                  <input autocomplete="off" class="form-control" id="email" type="email" value="{{email::input}}" required placeholder="">
                </div>
                <div class="form-group">
                  <label>Telefono *</label>
                  <input autocomplete="off" class="form-control" id="phone" type="text" value="{{phone::input}}" required placeholder="">
                </div>
                <div class="form-group">
                  <label>Clave *</label>
                  <input autocomplete="off" class="form-control" id="password" type="password" value="{{password::input}}" required maxlength="20" placeholder="">
                </div>

                <div class="form-group">
                  <label>Estado *</label>
                  <select class="form-control" value="{{logged::change}}" required>
                    <template is="dom-repeat" items="{{flagList}}" as="flag" >
                      <option value="{{flag.val}}">{{flag.descrip}}</option>
                    </template>
                  </select>
                </div>

                <div style="margin-bottom: 20px">
                  <button type="button" class="btn-sm btn-secondary" on-click="_save">Grabar</button>
                  <button type="button" class="btn-sm btn-warning" on-click="_cancel">Cerrar</button>
                </div>
              </form>
            </iron-form>



          </div>

          <div class="col-md-8 col-lg-8" hidden="{{isNew}}">
            <div class="row">
              <user-account-component on-gettransactionbyuserevent="_getTrassanctionByUser" useridentifier="[[idUsuario]]"></user-account-component>

            </div>
            <div class="row">
              <user-transaction-component  useridentifier="[[idUsuario]]" accountidentifier="[[accountIDSelect]]" ibam="[[accountIbamSelect]]" balance="[[accountBalanceSelect]]" currency="[[accountCurrencySelect]]"></user-transaction-component>
            </div>
          </div>
        </div>
      </div>


    </div>


    <paper-dialog id="resultDialogNew">
      <h4 style="padding: 10px;">Estado</h4>
      <p>Operación completada!</p>
      <p>ID de usuario: {{model.idUsuario}}</p>
      <p>Número de Cuenta: {{account.IBAM}}</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="resultDialog">
      <h4 style="padding: 10px;">Estado</h4>
      <p>Operación completada!</p>
      <p>ID de usuario: {{model.idUsuario}}</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="resultErrorDialog">
      <h4 style="padding: 10px;">Estado</h4>
      <p>Error!</p>
      <p>{{errorMessage}}</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>Aceptar</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="formInvalidDialog">
      <h4 style="padding: 10px;">Formulario invalido!</h4>
      <p>Por favor completa el formulario, todos los campos son obligatorios.</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserCrudComponent extends Polymer.Element {
      static get is() { return 'user-crud-component'; }
      static get properties() {
        return {
          _id:{
            type: String
          },
          idUsuario:{
            type: Number
          },
          first_name:{
            type: String
          },
          last_name:{
            type: String
          },
          email:{
            type: String
          },
          password:{
            type: String
          },
          dni:{
            type: String
          },
          phone:{
            type: String
          },
          create_at:{
            type: Date
          },
          role:{
            type: String
          },
          logged:{
            type: Boolean
          },
          //
          model:{
            type: Object
          },
          account:{
            type: Object
          },
          accountIDSelect:{
            type: Number
          },
          accountIbamSelect:{
            type: String
          },
          accountBalanceSelect:{
            type: Number
          },
          accountCurrencySelect:{
            type: String
          },
          errorMessage:{
            type: String
          },
          isNew:{
            type: Boolean,
            value: true
          },
          flagList:{
            type: Array,
            value: [{descrip:"Activo", val: true},{descrip:"Inactivo", val: false}]
          },
          paramId:{
            type: String,
            observer: '_getModel'
          }
        }
      };
      _getUrlModel(id) {
        this.paramId = id;
        return Config.BASE_URL + "user/"+this.paramId;
      }

      _getModel() {
        if(this.paramId && this.paramId !== 'new'){
          this.$.getModelRequest.method = 'get';
          this.$.getModelRequest.url = Config.BASE_URL + "user/"+this.paramId;
          this.$.getModelRequest.generateRequest();
        }else{
          this.isNew = true;
          this._id = null;
          this.idUsuario =  null;
          this.first_name =  null;
          this.last_name =  null;
          this.email =  null;
          this.password =  null;
          this.logged =  true;

          this.dni =  null;
          this.phone =  null;
          this.create_at =  null;
          this.role =  null;
        }
      }

      _responseGetModel(data) {
        this.model = data.detail.response[0];
        if(!this.model){
          this.model = data.detail.response;
        }
        this._populateModel(this.model);
      }

      _responseSaveRequest(data) {
        this.model = data.detail.response[0];
        if(!this.model){
          this.model = data.detail.response;
          if(this.isNew){
            this.account = data.detail.response.account;
            this.$.resultDialogNew.open();
          }else{
            this.$.resultDialog.open();
          }
        }
        this._populateModel(this.model);
      }

      _populateModel(model) {

        this.isNew = false;

        this._id = model._id;
        this.idUsuario = model.idUsuario;
        this.first_name = model.first_name;
        this.last_name = model.last_name;
        this.email = model.email;
        this.password = model.password;
        this.logged = model.logged;

        this.dni =  model.dni;
        this.phone =  model.phone;
        this.create_at =  model.create_at;
        this.role =  model.role;

        document.querySelector('my-app').set('route.path', '/user-crud/'+this.idUsuario);
      }

      _save() {
        var isValid = this.$.ironform.validate();
        if(isValid){
          var uri;
          var bodyModel;

          if(!this.create_at){
            this.create_at = new Date();
          }

          if(!this.role){
            this.role = "user";
          }

          bodyModel = {
            first_name:this.first_name,
            last_name:this.last_name,
            email:this.email,
            password:this.password,
            logged:this.logged,
            dni: this.dni,
            phone: this.phone,
            create_at: this.create_at,
            role: this.role
          };

          if(this.isNew){
            uri = Config.BASE_URL + "user/"
            this.$.saveModelRequest.method = 'post';
          }else{
            uri = Config.BASE_URL + "user/"+this.idUsuario;
            this.$.saveModelRequest.method = 'put';
            bodyModel._id = this._id;
            bodyModel.idUsuario = this.idUsuario;
          }

          this.$.saveModelRequest.body = bodyModel;
          this.$.saveModelRequest.url = uri;

          this.$.saveModelRequest.generateRequest();

        }else {
          this.$.formInvalidDialog.open();
        }
      }

      _remove() {

        var uri=Config.BASE_URL + "user/"+this.idUsuario;
        this.$.deleteModelRequest.body={_id:this._id};
        this.$.deleteModelRequest.method = 'delete';
        this.$.deleteModelRequest.url = uri;
        this.$.deleteModelRequest.generateRequest().completes.then(function(req){
          document.querySelector('my-app').set('route.path', '/users/');
        });

      }

      _cancel() {
        document.querySelector('my-app').set('route.path', '/users/');
        //location.reload();
      }

      _getTrassanctionByUser(e) {
        this.accountIDSelect = e.detail.account.accountID;
        this.accountIbamSelect = e.detail.account.IBAM;
        this.accountBalanceSelect = e.detail.account.balance;
        this.accountCurrencySelect = e.detail.account.currency;
        console.log("_getTrassanctionByUser this.accountIDSelect",this.accountIDSelect);
      }

      _handleSaveError(data) {
        this.errorMessage = data.detail.request.xhr.response.message;
        this.$.resultErrorDialog.open();
      }
    }

    window.customElements.define(UserCrudComponent.is, UserCrudComponent);
  </script>
</dom-module>
