<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="/src/users/user-list-component.html">

<dom-module id="user-view">
  <template>
    <link rel="stylesheet" type="text/css"
          href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

      <user-list-component
              on-edituserevent="_editUser"
              id="usersTable">
      </user-list-component>


  </template>

  <script>
    class UserView extends Polymer.Element {
      static get is() { return 'user-view'; }
      static get properties() {
        return {
          userSelected: Object,
        }
      }
      _editUser(e) {
        this.userSelected = e.detail.user;
        document.querySelector('my-app').set('route.path', '/user-crud/'+e.detail.user.idUsuario);
        document.querySelector("my-app").root.querySelector("user-crud-component").model = this.userSelected;
        document.querySelector("my-app").root.querySelector("user-crud-component")._populateModel(this.userSelected);
      }

    }

    window.customElements.define(UserView.is, UserView);
  </script>
</dom-module>
