<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../config.html">
<dom-module id="user-list-component">
  <template>
    <link rel="stylesheet" type="text/css"
          href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <style include="shared-styles">

    </style>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Mantenimiento de Usuarios</h5>
        <form class="form-inline">
            <label class="my-1 mr-2">Filtrar por: Estado</label>
            <select class="form-control-sm mr-2" value="{{logged::change}}">
              <template is="dom-repeat" items="{{flagList}}" as="flag" >
                <option value="{{flag.val}}">{{flag.descrip}}</option>
              </template>
            </select>

        </form>

        <div class="row ml-2 mt-2 mb-2">
          <button type="button" class="btn-sm btn-warning mr-2" on-click="_newUser">Nuevo</button>
          <button type="button" class="btn-sm btn-secondary mr-2" on-click="_reloadData">Filtrar</button>

        </div>

        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap table-hover table-sm table-striped">
            <thead>
            <th>Acciones</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>F. Creación</th>
            </thead>
            <tbody>
            <template is="dom-repeat" items="{{users}}">
              <tr>
                <td>
                  <button type="button" class="btn-sm btn-warning" on-click="editUser">Consultar</button>
                </td>
                <td><div class="body-copy">{{item.first_name}}</div></td>
                <td><div class="body-copy">{{item.last_name}} </div></td>
                <td><div class="body-copy">{{item.dni}}</div></td>
                <td><div class="body-copy">{{item.email}}</div></td>
                <td><div class="body-copy">{{item.phone}}</div></td>
                <td><div class="body-copy">{{_getDate(item.create_at,"DD/MM/YYYY HH:mm")}}</div></td>
              </tr>
            </template>
            </tbody>
          </table>
        </div>

      </div>

    </div>


    <iron-ajax
      id="getPersons"
      handle-as="json"
      on-response="showData"
    >

      <iron-ajax id="deleteModelRequest" method="delete" content-type="application/json" handle-as="json" on-response="_reloadData">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserListComponent extends Polymer.Element {
      static get is() { return 'user-list-component'; }
      static get properties() {
        return {
          txtsearch: {
            type: String,
          },
          logged:{
            type: Boolean,
            value:true,
            observer: "_reloadData"
          },
          users: {
            type: Array,
            value: [],
          },
          flagList:{
            type: Array,
            value: [{descrip:"Activo", val: true},{descrip:"Inactivo", val: false}]
          },
        };
      }
      showData(data) {
        this.users = data.detail.response.docs;
      }
      _reloadData() {
        var url= Config.BASE_URL + "user?limit=9999&page=1&logged="+this.logged;
        this.$.getPersons.url = url;
        this.$.getPersons.method = 'get';
        this.$.getPersons.generateRequest();
      }
      _wrapperRemove(e){
        var r = confirm("¿Está seguro de eliminar?");
        if (r == true) {
          this.removeUser(e)
        }
      }
      removeUser(e) {

        var uri = Config.BASE_URL + "user/"+e.model.item.idUsuario;
        this.$.deleteModelRequest.body={_id:e.model.item._id};
        this.$.deleteModelRequest.method = 'delete';
        this.$.deleteModelRequest.url = uri;
        this.$.deleteModelRequest.generateRequest();

      }
      editUser(e) {
        this.dispatchEvent(
                new CustomEvent(
                        "edituserevent",
                        {
                          "detail" : {
                            "user": e.model.item
                          }
                        }
                )
        );
      }
      _newUser() {
        document.querySelector('my-app').set('route.path', '/user-crud/new');
      }
      _getDate(val, format){
        return moment(val).utc().format(format);
      }
    }

    window.customElements.define(UserListComponent.is, UserListComponent);
  </script>
</dom-module>
