<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../config.html">

<dom-module id="user-transaction-component">
  <template>
    <link rel="stylesheet" type="text/css"
          href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <style include="shared-styles">
    </style>

    <div class="card" hidden$="[[!showCard]]">
      <div class="card-body">
        <h5 class="card-title">Movimientos</h5>
        <h6 class="card-title">Cuenta:    <b>{{ibam}}</b> &nbsp;&nbsp; Saldo Actual:    <b>{{balance}}</b></h6>
        <button style="margin-bottom: 5px;" type="button" class="btn-sm btn-secondary" on-click="_getUserTransactionRequest">Actualizar</button>
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap table-hover table-striped">
            <thead>
            <th>Nº Tx</th>
            <th>Fecha</th>
            <th>Glosa</th>
            <th>Tipo</th>
            <th>Importe ({{currency}})</th>

            </thead>
            <tbody>
            <template is="dom-repeat" items="{{models}}">
              <tr>
                <td><div class="body-copy">{{item.Transactionid}} </div></td>
                <td><div class="body-copy">{{_getDate(item.create_at)}}</div></td>
                <td><div class="body-copy">{{item.detalle}}</div></td>
                <td><div class="body-copy">{{item.tipo}} </div></td>
                <td><div class="body-copy">{{_getFormatAmount(item)}}</div></td>
              </tr>
            </template>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <iron-ajax
               id="getUserTransaction"
               handle-as="json"
               on-response="_getUserTransactionResponse">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserTransactionComponent extends Polymer.Element {
      static get is() { return 'user-transaction-component'; }
      static get properties() {
        return {
          models:{
            type: Array,
            value: [],
          },
          useridentifier:{
            type: Number
          },
          accountidentifier:{
            type: Number,
            observer: '_checkUserID'
          },
          ibam:{
            type: String
          },
          balance:{
            type: Number
          },
          currency:{
            type: String
          },
          showCard:{
            type: Boolean,
            value: false
          },
        }
      };

      ready() {
        super.ready();
      }

      _checkUserID(){
        console.log("_checkAccountIdSelected this.accountidentifier",this.accountidentifier);
        this._getUserTransactionRequest();
      }

      _getUserTransactionRequest() {
        this.models = [];
          this.$.getUserTransaction.method = 'get';
          this.$.getUserTransaction.url = Config.BASE_URL + "transaction?userID="+this.useridentifier+"&accountID="+this.accountidentifier;
          this.$.getUserTransaction.generateRequest();
      }

      _getUserTransactionResponse(data) {
        console.log("data.detail.response",data.detail.response);
        this.models = data.detail.response;
        this.showCard = true;
      }

      _getDate(val){
        return moment(val).utc().format('DD/MM/YYYY HH:mm');
      }
      _getFormatAmount(obj){
        if(obj.tipo==="Retiro"){
          return obj.money * -1;
        }
        return obj.money;
      }
    }

    window.customElements.define(UserTransactionComponent.is, UserTransactionComponent);
  </script>
</dom-module>
