<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="transacction-list-component">
  <template>
    <link rel="stylesheet" type="text/css"
          href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <style include="shared-styles">

    </style>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Movimientos</h5>
            <form class="form-inline">

                <label class="my-1 mr-2">Usuario</label>
                <select class="form-control-sm mr-2" value="{{userID::change}}">
                    <option value="">-- Todos --</option>
                    <template is="dom-repeat" items="{{users}}" as="item" >
                        <option value="{{item.idUsuario}}">{{item.first_name}} {{item.last_name}} / {{item.email}}</option>
                    </template>
                </select>

                <label class="my-1 mr-2">Cuenta</label>
                <select class="form-control-sm mr-2" value="{{accountID::change}}">
                    <option value="">-- Todos --</option>
                    <template is="dom-repeat" items="{{accounts}}" as="item" >
                        <option value="{{item.accountID}}">{{item.IBAM}}</option>
                    </template>
                </select>

                <label class="my-1 mr-2">Tipo</label>
                <select class="form-control-sm mr-2" value="{{tipo::change}}">
                    <option value="">-- Todos --</option>
                    <template is="dom-repeat" items="{{flagList}}" as="flag" >
                        <option value="{{flag.val}}">{{flag.descrip}}</option>
                    </template>
                </select>

                <label class="my-1 mr-2">F. Movimiento desde</label>
                <input class="form-control-sm" type="date" name="input" placeholder="dd/mm/yyyy" value="{{create_at_init::input}}" />

                <label class="my-1 mr-2">F. Movimiento Hasta</label>
                <input class="form-control-sm" type="date" name="input" placeholder="dd/mm/yyyy" value="{{create_at_end::input}}" />

            </form>

            <div class="row ml-2 mt-2 mb-2">
                <button type="button" class="btn-sm btn-warning mr-2" on-click="_reloadData">Filtrar</button>
                <button type="button" class="btn-sm btn-secondary" on-click="_clearFilters">Limpiar</button>
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap table-hover table-sm table-striped">
                    <thead>
                    <th>Id Tx</th>
                    <th>Cuenta</th>
                    <th>Moneda</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Importe</th>
                    <th>Glosa</th>
                    </thead>
                    <tbody>
                    <template is="dom-repeat" items="{{models}}">
                        <tr>
                            <td><div class="body-copy">{{item.Transactionid}}</div></td>
                            <td><div class="body-copy">{{item.account.IBAM}}</div></td>
                            <td><div class="body-copy">{{item.account.currency}}</div></td>
                            <td><div class="body-copy">{{item.user.first_name}} {{item.user.last_name}} / {{item.user.email}}</div></td>
                            <td><div class="body-copy">{{_getDate(item.create_at)}}</div></td>
                            <td><div class="body-copy">{{item.tipo}} </div></td>
                            <td><div class="body-copy">{{item.money}}</div></td>
                            <td><div class="body-copy">{{item.detalle}}</div></td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>

        </div>

    </div>


    <iron-ajax
      id="queryTx"
      handle-as="json"
      on-response="showData"
    >

      <iron-ajax
              id="getAccounts"
              handle-as="json"
              on-response="_getAccountResponse">

        <iron-ajax
                id="getPersons"
                handle-as="json"
                on-response="_getPersonsResponse"
        >

      <iron-ajax id="deleteTxRequest" method="delete" content-type="application/json" handle-as="json" on-response="_reloadData">
      </iron-ajax>

          <iron-ajax id="saveModelRequest" content-type="application/json" handle-as="json"
                     on-response="_responseSave" on-error="_handleSaveError" loading="true">
          </iron-ajax>

          <paper-dialog id="formTxInvalidDialog">
            <h4 style="padding: 10px;">Formulario invalido!</h4>
            <p>Por favor completa el formulario, todos los campos son obligatorios.</p>
            <div class="buttons">
              <paper-button dialog-confirm autofocus>OK</paper-button>
            </div>
          </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TransacctionListComponent extends Polymer.Element {
      static get is() { return 'transacction-list-component'; }
      static get properties() {
        return {
          models: {
            type: Array,
            value: [],
          },
          userID:{
            type: Number,
            observer: "_getAccountRequest"
          },
          accountID:{
            type: String,
            observer: "_reloadData"
          },
          tipo:{
            type: String,
            observer: "_reloadData"
          },
            create_at_init:{
                type: String,
                observer: "_reloadData"
            },
            create_at_end:{
                type: String,
                observer: "_reloadData"
            },
          users: {
            type: Array,
            value: [],
          },
          accounts: {
            type: Array,
            value: [],
          },
          flagList:{
            type: Array,
            value: [{descrip:"Deposito", val: "Deposito"},{descrip:"Retiro", val: "Retiro"}]
          },
          autoLoad:{
            type: Boolean,
            value:true,
            observer: "_reloadData"
          },
        };
      }
      showData(data) {
        this.models = data.detail.response;
      }
      _reloadData() {
          var url=Config.BASE_URL + "transaction/query?foo=1";

          if(this.userID){
            url=url+"&userID="+this.userID;
          }

          if(this.accountID){
            url=url+"&accountID="+this.accountID;
          }

          if(this.tipo){
            url=url+"&tipo="+this.tipo;
          }

          if(this.create_at_init){
              url=url+"&create_at_init="+this.create_at_init;
          }

          if(this.create_at_end){
              url=url+"&create_at_end="+this.create_at_end;
          }

          this.$.queryTx.url = url;
          this.$.queryTx.method = 'get';
          this.$.queryTx.generateRequest();

          var url=Config.BASE_URL + "user?limit=9999&page=1&logged=true";
          this.$.getPersons.url = url;
          this.$.getPersons.method = 'get';
          this.$.getPersons.generateRequest();

      }

      _getPersonsResponse(data) {
        this.users = data.detail.response.docs;
      }

      _getAccountRequest() {
        if(this.userID){
          this.accounts = [];
          if(!this.isEditing){
            this.accountID = null;
          }
          this.$.getAccounts.method = 'get';
          this.$.getAccounts.url = Config.BASE_URL + "account?userID="+this.userID;
          this.$.getAccounts.generateRequest();
        }
      }

      _getAccountResponse(data) {
        this.accounts = data.detail.response;
        this._reloadData();
      }

      _clearFilters() {

        this.userID = "";
        this.accountID = "";
        this.accounts = [];
        this.tipo = "";
        this.models = [];
        this.model=null;
        this.create_at_init=null;
        this.create_at_end=null;

        this._reloadData();

      }

      _getDate(val){
        return moment(val).utc().format('DD/MM/YYYY');
      }

    }

    window.customElements.define(TransacctionListComponent.is, TransacctionListComponent);
  </script>
</dom-module>
