<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="user-transacction-list-component">
  <template>
    <link rel="stylesheet" type="text/css"
          href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <style include="shared-styles">

    </style>

    <div class="card" hidden="{{!isEditing}}">
      <div class="card-body">
        <h5 class="card-title">Creación de Movimiento</h5>

        <iron-form id="ironform">
          <form>
            <div class="form-group">
              <label>Cuenta</label>
              <paper-listbox selected="{{accountID}}" attr-for-selected="value" class="dropdown-content" required>
                <template is="dom-repeat" items="{{accounts}}" as="item">
                  <paper-item style="border-style: dashed; border-width: 0.1px" value="[[item.accountID]]">[[item.IBAM]]</paper-item>
                </template>
              </paper-listbox>
            </div>

            <div class="form-group">
              <label>Tipo</label>
              <select class="form-control mr-2" value="{{tipo::change}}" required>
                <option value="">-- Seleccione Tipo --</option>
                <template is="dom-repeat" items="{{flagList}}" as="flag" >
                  <option value="{{flag.val}}">{{flag.descrip}}</option>
                </template>
              </select>
            </div>

            <div class="form-group">
              <label>Monto</label>
              <input class="form-control" id="money" type="number" value="{{money::input}}" placeholder="" required>
            </div>

            <div class="form-group">
              <label>Glosa</label>
              <input class="form-control" id="detalle" type="text" value="{{detalle::input}}" placeholder="" required>
            </div>
            <div class="form-group">
              <label>Fecha del Movimiento</label>
              <input class="form-control" type="date" name="input" placeholder="dd/mm/yyyy" value="{{create_at_str::input}}" />
            </div>
            <div style="margin-bottom: 20px">
              <button type="button" class="btn-sm btn-warning" on-click="_save">Guardar</button>
              <button type="button" class="btn-sm btn-secondary" on-click="_cancelEdit">Cancelar</button>
            </div>
          </form>
        </iron-form>

      </div>
    </div>

    <div class="card" hidden="{{isEditing}}">
      <div class="card-body">
        <h5 class="card-title">Mis Movimientos</h5>
        <form class="form-inline">

          <label class="my-1 mr-2">Filtrar por: Cuenta</label>
          <select class="form-control-sm mr-2" value="{{accountIDFilter::change}}">
            <option value="">-- Todos --</option>
            <template is="dom-repeat" items="{{accounts}}" as="item" >
              <option value="{{item.accountID}}">{{item.IBAM}}</option>
            </template>
          </select>

            <label class="my-1 mr-2">Tipo</label>
            <select class="form-control-sm mr-2" value="{{tipoFilter::change}}">
              <option value="">-- Todos --</option>
              <template is="dom-repeat" items="{{flagList}}" as="flag" >
                <option value="{{flag.val}}">{{flag.descrip}}</option>
              </template>
            </select>

            <label class="my-1 mr-2">F. Movimiento desde</label>
            <input class="form-control-sm" type="date" name="input" placeholder="dd/mm/yyyy" value="{{create_at_init::input}}" />

            <label class="my-1 mr-2">F. Movimiento Hasta</label>
            <input class="form-control-sm" type="date" name="input" placeholder="dd/mm/yyyy" value="{{create_at_end::input}}" />

        </form>

        <div class="row ml-2 mt-2 mb-2">
          <button type="button" class="btn-sm btn-warning mr-2" on-click="_newModel">Nuevo</button>
          <button type="button" class="btn-sm btn-secondary mr-2" on-click="_reloadData">Filtrar</button>
          <button type="button" class="btn-sm btn-secondary" on-click="_clearFilters">Limpiar</button>
        </div>
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap table-hover table-sm table-striped">
            <thead>
<!--            <th></th>-->
            <th>Id Tx</th>
            <th>Cuenta</th>
<!--            <th>Usuario</th>-->
            <th>Moneda</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Importe</th>
            <th>Glosa</th>
            </thead>
            <tbody>
            <template is="dom-repeat" items="{{models}}">
              <tr>
<!--                <td>-->
<!--                  <button type="button" class="btn-sm btn-warning" on-click="_editModel">Editar</button>-->
<!--                  <button type="button" class="btn-sm btn-secondary" on-click="_wrapperRemove">Eliminar</button>-->
<!--                </td>-->
                <td><div class="body-copy">{{item.Transactionid}}</div></td>
                <td><div class="body-copy">{{item.account.IBAM}}</div></td>
                  <td><div class="body-copy">{{item.account.currency}}</div></td>
<!--                <td><div class="body-copy">{{item.user.first_name}} {{item.user.last_name}} / {{item.user.email}}</div></td>-->
                <td><div class="body-copy">{{_getDate(item.create_at)}}</div></td>
                <td><div class="body-copy">{{item.tipo}} </div></td>
                <td><div class="body-copy">{{item.money}}</div></td>
                <td><div class="body-copy">{{item.detalle}}</div></td>
              </tr>
            </template>
            </tbody>
          </table>
        </div>

      </div>

    </div>


    <iron-ajax
      id="queryTx"
      handle-as="json"
      on-response="showData"
    >

      <iron-ajax
              id="getAccounts"
              handle-as="json"
              on-response="_getAccountResponse">

        <iron-ajax
                id="getPersons"
                handle-as="json"
                on-response="_getPersonsResponse"
        >

      <iron-ajax id="deleteTxRequest" method="delete" content-type="application/json" handle-as="json" on-response="_reloadData">
      </iron-ajax>

          <iron-ajax id="saveModelRequest" content-type="application/json" handle-as="json"
                     on-response="_responseSave" on-error="_handleSaveError" loading="true">
          </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserTransacctionListComponent extends Polymer.Element {
      static get is() { return 'user-transacction-list-component'; }
      static get properties() {
        return {
          models: {
            type: Array,
            value: [],
          },
          model:{
            type: Object
          },
          _id:{
            type: String
          },
          Transactionid:{
            type: Number
          },
          useridentifier:{
            type: Number,
            observer: "_reloadData"
          },
          accountID:{
            type: String
          },
          tipo:{
            type: String
          },
          accountIDFilter:{
                type: String,
                observer: "_reloadData"
          },
          tipoFilter:{
                type: String,
                observer: "_reloadData"
          },
            create_at_init:{
                type: String,
                observer: "_reloadData"
            },
            create_at_end:{
                type: String,
                observer: "_reloadData"
            },
          money:{
            type: Number
          },
          create_at:{
            type: Date,
            observer: "_changeDateParseToString"
          },
          create_at_str:{
            type: String,
            observer: "_changeDateParseToDate"
          },
          detalle:{
            type: String
          },
          users: {
            type: Array,
            value: [],
          },
          accounts: {
            type: Array,
            value: [],
          },
          flagList:{
            type: Array,
            value: [{descrip:"Deposito", val: "Deposito"},{descrip:"Retiro", val: "Retiro"}]
          },
          isEditing:{
            type: Boolean,
            value: false
          },
          isNew:{
            type: Boolean,
            value: true
          }
        };
      }
      showData(data) {
        this.models = data.detail.response;
      }
      _reloadData() {
        if(!this.isEditing){
            this.models = [];
          var url=Config.BASE_URL + "transaction/query?foo=1";

          if(this.useridentifier){
            url=url+"&userID="+this.useridentifier;
          }

          if(this.accountIDFilter){
            url=url+"&accountID="+this.accountIDFilter;
          }

          if(this.tipoFilter){
            url=url+"&tipo="+this.tipoFilter;
          }

            if(this.create_at_init){
                url=url+"&create_at_init="+this.create_at_init;
            }

            if(this.create_at_end){
                url=url+"&create_at_end="+this.create_at_end;
            }

          this.$.queryTx.url = url;
          this.$.queryTx.method = 'get';
          this.$.queryTx.generateRequest();

            this._getAccountRequest();
        }
      }

      _getPersonsResponse(data) {
        this.users = data.detail.response.docs;
      }

      _getAccountRequest() {
        if(this.useridentifier){
          this.$.getAccounts.method = 'get';
          this.$.getAccounts.url = Config.BASE_URL + "account?userID="+this.useridentifier;
          this.$.getAccounts.generateRequest();
        }
      }


      _getAccountResponse(data) {
        this.accounts = data.detail.response;
      }

      _clearFilters() {

        this.accountIDFilter = "";
        this.accounts = [];
        this.tipoFilter = "";
        this.models = [];
        this.model=null;
          this.create_at_init=null;
          this.create_at_end=null;
        this._reloadData();

      }

      _newModel() {
        this._blankModel();
        this.isEditing = true;
        this.isNew = true;
        this._getAccountRequest();
      }
      _cancelEdit() {
        this._blankModel();
        this.isEditing = false;
        this.isNew = false;
        this._clearFilters();
        this._reloadData();
      }

      _save() {
        var isValid = this.$.ironform.validate();
        var isValidAccountSelected = false;
        if(this.accountID){
          isValidAccountSelected = true;
        }
        if(this.money<=0){
            alert("El monto debe ser mayor a 0");
            return;
        }
        if(isValid && isValidAccountSelected){

          var uri;
          var bodyModel;

          var createAt = this.create_at;
          if(!createAt){
            createAt = new Date();
          }

          bodyModel = {
            tipo : this.tipo,
            detalle : this.detalle,
            money : this.money,
            accountID : this.accountID,
            userID : this.useridentifier,
            create_at: createAt
          };

          if(this.isNew){
            uri = Config.BASE_URL + "transaction/"
            this.$.saveModelRequest.method = 'post';
          }else{
            uri = Config.BASE_URL + "transaction/"+this.Transactionid;
            this.$.saveModelRequest.method = 'put';
            bodyModel._id = this._id;
            bodyModel.Transactionid = this.Transactionid;
          }

          this.$.saveModelRequest.body = bodyModel;
          this.$.saveModelRequest.url = uri;

          this.$.saveModelRequest.generateRequest();

        }else{
          alert("Formulario invalido!");
        }


      }

      _responseSave(data) {
        this.isEditing = false;
        this.isNew = false;
        this._getAccountRequest();
        this._clearFilters();
      }

      _editModel(e) {
        this.model = e.model.item;

        this.isEditing = true;
        this.isNew = false;

        this._id = this.model._id;
        this.Transactionid = this.model.Transactionid;
        this.tipo = this.model.tipo;
        this.detalle = this.model.detalle;
        this.money = this.model.money;
        this.accountID = this.model.accountID;
        this.useridentifier = this.model.userID;
        this.create_at = this.model.create_at;

      }

      _blankModel(){
        this.model = null;

        this._id = null;
        this.Transactionid = null;
        this.tipo = "";
        this.detalle = null;
        this.money = null;
        this.accountID = "";
        this.create_at = null;
        this.create_at_str = null;
        this.accounts  = [];
      }

      _wrapperRemove(e){
        var r = confirm("¿Está seguro de eliminar?");
        if (r == true) {
          this._removeModel(e)
        }
      }
      _removeModel(e) {

        var uri=Config.BASE_URL + "transaction/"+e.model.item.Transactionid;
        this.$.deleteTxRequest.body={_id:e.model.item._id};
        this.$.deleteTxRequest.method = 'delete';
        this.$.deleteTxRequest.url = uri;
        this.$.deleteTxRequest.generateRequest();

      }
      _changeDateParseToDate(val){
        if(val){
          this.create_at = moment(val,'YYYY-MM-DD').toDate();
          console.log("create_at",this.create_at);
        }
      }
      _changeDateParseToString(val){
        if(val){
          this.create_at_str = moment(val).format('YYYY-MM-DD');
          console.log("create_at_str",this.create_at_str);
        }
      }
      _getDate(val){
        return moment(val).utc().format('DD/MM/YYYY');
      }
      _handleSaveError(data) {
        alert(data.detail.request.xhr.response.message);
      }
    }

    window.customElements.define(UserTransacctionListComponent.is, UserTransacctionListComponent);
  </script>
</dom-module>
