<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<script src="../../bower_components/moment/moment.js"></script>

<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="lazy-import" href="users/user-view.html">
<link rel="lazy-import" href="users/user-profile-view.html">
<link rel="lazy-import" href="transacctions/user-transaction-list-view.html">
<!--Import personalizado-->
<link rel="import" href="login/skill-login.html">
<link rel="import" href="users/user-crud-component.html">
<link rel="import" href="transacctions/transacction-list-component.html">
<link rel="import" href="reports/summary-motnhly-tx-component.html">
<link rel="import" href="reports/summary-yearly-tx-component.html">
<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      .hide-by-access{
        display:none;
      }

      .cerrar-sesion{
            cursor:pointer;
            width:35px;
            height: auto;
            vertical-align: middle;
          }
    </style>

    <app-location
            route="{{route}}"
            url-space-regex="^[[rootPath]]" use-hash-as-path>
    </app-location>

    <app-route
            route="{{route}}"
            pattern="[[rootPath]]:page"
            data="{{routeData}}"
            tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}" class$="{{_verifica()}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar><img src="{{imgLogo}}"></app-toolbar>

        <iron-selector hidden="[[isAdmin]]" selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a style="color: white" name="home" href="[[rootPath]]/#/home">Home</a>
          <a style="color: white" name="my-profile" href="[[rootPath]]/#/my-profile">Mi Perfil</a>
          <a style="color: white" name="my-txs" href="[[rootPath]]/#/my-txs">Mis Movimientos</a>
        </iron-selector>

        <iron-selector hidden="[[isUser]]" selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a style="color: white" name="home" href="[[rootPath]]/#/home">Home</a>
          <a  style="color: white" name="users" href="[[rootPath]]/#/users">Usuarios</a>
          <a style="color: white" name="txs" href="[[rootPath]]/#/txs">Movimientos</a>
          <a style="color: white" name="summary-monthly-tx" href="[[rootPath]]/#/summary-monthly-tx">Resumen Mensual</a>
          <a style="color: white" name="summary-yearly-tx" href="[[rootPath]]/#/summary-yearly-tx">Resumen Anual</a>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header style="background-color: #777d90" slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Account App (Usuario: {{firstName}})</div>
            <div on-click="_cerrarSesion">
              <img class="cerrar-sesion"src="{{imgCierraSession}}" alt="Cerrar sesión" title="Cerrar sesión">
          </div>
          </app-toolbar>
        </app-header>

        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main">
          <my-view1 name="home"></my-view1>
<!--          <my-view2 name="view2"></my-view2>-->
<!--          <my-view3 name="view3"></my-view3>-->
          <user-view name="users"></user-view>
          <user-profile-view name="my-profile"></user-profile-view>
          <transacction-list-component name="txs"></transacction-list-component>
          <user-transaction-list-view name="my-txs"></user-transaction-list-view>
          <user-crud-component name="user-crud" route="[[subroute]]"></user-crud-component>
          <summary-motnhly-tx-component name="summary-monthly-tx"></summary-motnhly-tx-component>
          <summary-yearly-tx-component name="summary-yearly-tx"></summary-yearly-tx-component>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>

    <skill-login class$="{{_verificaLogin()}}">
    </skill-login>

  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          imgLogo: {
                type: String,
                value: function() {return this.resolveUrl('../images/Logo_bbva.png')}
            },
            imgCierraSession: {
                type: String,
                value: function() {return this.resolveUrl('../images/logout.png')}
            },
            uriBase:{
            type:String,
            value:'https://skilldev-app.herokuapp.com'
            },
            isAdmin: {
              type: Boolean,
              value: false
            },
            isUser: {
              type: Boolean,
              value: false
            },
            firstName: {
              type: String
            }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        console.log("_routePageChanged",page);
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        console.log("_pageChanged",page);
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl;
        switch(page) {
            case 'home':
                resolvedPageUrl = this.resolveUrl('my-view1.html');
                break;
          case 'users':
            resolvedPageUrl = this.resolveUrl('./users/user-view.html');
            break;
          case 'user-crud':
            resolvedPageUrl = this.resolveUrl('./users/user-crud-component.html');
            break;
          case 'my-profile':
            resolvedPageUrl = this.resolveUrl('./users/user-profile-view.html');
            break;
            case 'txs':
                resolvedPageUrl = this.resolveUrl('./transacctions/transacction-list-component.html');
                break;
          case 'my-txs':
            resolvedPageUrl = this.resolveUrl('./transacctions/user-transaction-list-view.html');
            break;

          case 'summary-monthly-tx':
            resolvedPageUrl = this.resolveUrl('./reports/summary-motnhly-tx-component.html');
            break;

          case 'summary-yearly-tx':
            resolvedPageUrl = this.resolveUrl('./reports/summary-yearly-tx-component.html');
            break;

          default:
            resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
            break;
        }

        console.log("resolvedPageUrl",resolvedPageUrl);

        Polymer.importHref(
          resolvedPageUrl,
          null,
          null,
          //this._showPage404.bind(this),
          true);
      }

      ready(){
        super.ready(); //add a transparent black so the white text is visiable;
        var role = localStorage.getItem("role");
        var firstName = localStorage.getItem("firstName");

        this.firstName = firstName;

        if(role==='admin'){
          this.isAdmin = true;
        }else{
          this.isUser = true;
        }

        console.log("role",role);
        console.log("this.isAdmin",this.isAdmin);
        console.log("this.isUser",this.isUser);
        document.querySelector("my-app").$.drawer.$.contentContainer.style.backgroundColor = "#535968";
      }

      _showPage404() {
        this.page = 'view404';
      }

      _verifica() {

        var logged = localStorage.getItem('isLogged');

        if (!logged) {
          return 'hide-by-access';
        } else
          return;

      }

      _verificaLogin() {

        var logged = localStorage.getItem('isLogged');
        //var logged = true;
        if (logged) {
          return 'hide-by-access';
        } else
          return;
      }

      _cerrarSesion() {
        //this.page="/";
        localStorage.removeItem('isLogged');
        localStorage.removeItem('userID');
        localStorage.removeItem('role');
        localStorage.removeItem('firstName');
        window.location = document.baseURI;

      }

    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
